#image {
    position: relative;
    height: 100%;
}

#image img {
    height: 70%;
}

#control {
    margin-bottom: 20px;
}

#control div {
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px;
}
#control #selects label {
    display: inline-block;
    margin: 10px;
}

.btn-diapo {
    padding: 0;
}

.btn img {
    width: 40px;
    height: 40px;
}