{% extends 'base.html.twig' %}

{% block title %}Supprimer {{ section.name }}{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('section_edit', {familySlug: section.Family.slug, sectionSlug: section.slug}) }}">Retour</a>
    <h1>Supprimer {{ section.name }}</h1>
    <p>Il semblerait que la rubrique '{{ section.name }}' possède des photos et/ou des vidéos</p>
    {% if deplaceMediasForm is defined %}
        <h2>Déplacer les photos/vidéos</h2>
        {% include 'Modals/forms.html.twig' with {'form': deplaceMediasForm} %}
        <hr/>
    {% endif %}
    {% include 'Modals/forms.html.twig' with {'form': deleteAllMediasForm} %}
{% endblock %}
