{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
    <h1>Vous informations personnelles</h1>
    <div>
            <a href="#">Demandes de cooptations ({{ demands|length }})</a>
    </div>
{% endblock %}