{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    {% if flash.forgot_password_success is defined %}
        <p style="color: green;">{{ flash.forgot_password_success }}</p>
    {% endif %}

    {% include 'Modals/forms.html.twig' with {'form': forgotPasswordForm} %}
{% endblock %}