{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe{% endblock %}

{% block body %}
    <h1>Vous pouvez définir votre nouveau mot de passe</h1>

    {% include 'Modals/forms.html.twig' with {'form': changeUserPasswordForm} %}
{% endblock %}