{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <h1>S'inscrire :</h1>
    {% include 'Modals/forms.html.twig' with {'form': formRegister} %}
{% endblock %}
