{% extends 'base.html.twig' %}

{% block title %}Créer une famille{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ referer }}">Retour</a>
    <h1>Créer votre famille!</h1>
    {% include 'Modals/forms.html.twig' with {'form': formFamily} %}
{% endblock %}
